body {
    background-color: #f8f9fa;
}

.formcontainer {
    margin-top: 20px;
}

.card {
    border-radius: 10px;
    border: none;
}

.card-body {
    padding: 30px;
}

.input-error {
    border-color: #dc3545;
}

.input-error::placeholder {
    color: #dc3545;
}

button {
    font-size: 16px;
    padding: 10px;
}
 a{
    text-decoration: none;
}
